@model ICollection<Person>

@if (Model.Count == 0)
{
    <div class="text-center">Select a membership type!</div>
}

@for (int Index = 0; Index < Model.Count; Index++)
{
    @Html.Editor($"[{Index}]", "Person", $"Members[{Index}]",new {PersonIndex = Index})

   <!-- <script>
            var NameHeaderFunction = function () {
                var Name = "";
                var FirstName = $('div[id="Person_Collapse_@Index"]').find('input[name="Members[@Index].Firstname"]').val();
                if (FirstName != null && FirstName != "")
                    Name = FirstName;
                var Surname = $('div[id="Person_Collapse_@Index"]').find('input[name="Members[@Index].Surname"]').val();
                if (Surname != null && Surname != "") {
                    if (Name == "")
                        Name = Surname;
                    else
                        Name += " " + Surname;
                }

                if (Name == "")
                    Name = "Neue Person";


                $('button[id="Person_Heading_Btn_@Index"]').html(Name);
                console.log("I have done something");
            };


            $('div[id="Person_Collapse_@Index"]').find('input[name="Members[@Index].Firstname"]').change(NameHeaderFunction);
        $('div[id="Person_Collapse_@Index"]').find('input[name="Members[@Index].Surname"]').change(NameHeaderFunction);

        if (@Index == 0) {
            $('div[id="Person_Collapse_@Index"]').collapse('show');
        }

    </script>
  -->

}
