@model MV.Web.Models.Membership


<h1> Neue Mitgliedschaft </h1>

<form asp-action="Create" class="needs-validation" novalidate>
    <div style="margin-bottom:10px" class="form-group">
        @Html.EditorFor(m => m)
    </div>
    
    <div>
        <button type="submit" class="btn btn-secondary">Speichern</button>
    </div>
</form>



@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
